@model IEnumerable<BookModel>

@{ 
    
}

<div class="container">
    <h1>All Books List</h1>
    <div class="row">
        @foreach (var book in Model)
        {
            <partial name="_BookThumbnail" model="@book" />
        }

    </div>
</div>
