
@inject Microsoft.Extensions.Options.IOptionsSnapshot<ASPNET_Core_Books_Demo.Models.NewBookAlertConfig> _config
@{
    ViewData["Title"] = "Contact Us";
}
<h1 class="h1">Contact Us</h1>
<p>
    
</p>